body {
    --red: #ff2600;
    --tred: #ff260026;
    --transition: 200ms;
    --slow-transition: 500ms;
}

body[theme='light ucas'] {
    --white: white;
    --black: black;
    --shadow: #00000026;
    --background: #eeeeee;
    --gray: #ececec;
    --gray-2: #e1e1e1;
    --gray-3: #cacaca;
    --gray-txt: #808080;
    --gray-2-txt: #656565;

    --over-main: white;
    --tover-main: rgba(255, 255, 255, 0.1);

    --main: linear-gradient(to right, #71c158, #1c6ead);
    --main-txt: white;
    --tmain: var(--main);
}

body[theme='dark ucas'] {
    --white: black;
    --black: white;
    --shadow: #ffffff20;
    --background: #111111;
    --gray: #131313;
    --gray-2: #1e1e1e;
    --gray-3: #353535;
    --gray-txt: #7f7f7f;
    --gray-2-txt: #9a9a9a;

    --over-main: white;
    --tover-main: rgba(255, 255, 255, 0.1);

    --main: linear-gradient(to right, #71c158, #1c6ead);
    --main-txt: white;
    --tmain: var(--main);
}

body[theme='light yellow'] {
    --white: white;
    --black: black;
    --shadow: #00000026;
    --background: #eeeeee;
    --gray: #ececec;
    --gray-2: #e1e1e1;
    --gray-3: #cacaca;
    --gray-txt: #808080;
    --gray-2-txt: #656565;

    --over-main: black;
    --tover-main: rgba(0, 0, 0, 0.1);

    --main: #ffc700;
    --main-txt: #dfa000;
    --tmain: #ffc80026;
}

body[theme='dark yellow'] {
    --white: black;
    --black: white;
    --shadow: #ffffff20;
    --background: #111111;
    --gray: #131313;
    --gray-2: #1e1e1e;
    --gray-3: #353535;
    --gray-txt: #7f7f7f;
    --gray-2-txt: #9a9a9a;

    --over-main: black;
    --tover-main: rgba(0, 0, 0, 0.1);

    --main: #dbac00;
    --main-txt: #be8903;
    --tmain: #dbac0026;
}

body[theme='light green'] {
    --white: white;
    --black: black;
    --shadow: #00000026;
    --background: #eeeeee;
    --gray: #ececec;
    --gray-2: #e1e1e1;
    --gray-3: #cacaca;
    --gray-txt: #808080;
    --gray-2-txt: #656565;

    --over-main: black;
    --tover-main: rgba(0, 0, 0, 0.1);

    --main: #27df55;
    --main-txt: #1fbd47;
    --tmain: #27df5526;
}

body[theme='dark green'] {
    --white: black;
    --black: white;
    --shadow: #ffffff20;
    --background: #111111;
    --gray: #131313;
    --gray-2: #1e1e1e;
    --gray-3: #353535;
    --gray-txt: #7f7f7f;
    --gray-2-txt: #9a9a9a;

    --over-main: black;
    --tover-main: rgba(0, 0, 0, 0.1);

    --main: #27c400;
    --main-txt: #1f9b00;
    --tmain: #27c40026;
}

body[theme='light blue'] {
    --white: white;
    --black: black;
    --shadow: #00000026;
    --background: #eeeeee;
    --gray: #ececec;
    --gray-2: #e1e1e1;
    --gray-3: #cacaca;
    --gray-txt: #808080;
    --gray-2-txt: #656565;

    --over-main: white;
    --tover-main: rgba(255, 255, 255, 0.1);

    --main: #1c90f0;
    --main-txt: #1376c8;
    --tmain: #1c90f026;
}

body[theme='dark blue'] {
    --white: black;
    --black: white;
    --shadow: #ffffff20;
    --background: #111111;
    --gray: #131313;
    --gray-2: #1e1e1e;
    --gray-3: #353535;
    --gray-txt: #7f7f7f;
    --gray-2-txt: #9a9a9a;

    --over-main: black;
    --tover-main: rgba(0, 0, 0, 0.1);

    --main: #0070cc;
    --main-txt: #005eac;
    --tmain: #0070cc26;
}

.small {
    font-size: 12px;
}

.small * {
    font-size: 12px;
}

/* centerd row */
.crow {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* right row */
.rrow {
    display: flex;
    justify-content: start;
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

/* space-between row */
.srow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.gap-8 {
    gap: 8px
}

.gap-14 {
    gap: 14px
}

.gap-26 {
    gap: 26px
}

.bg-black {
    background-color: var(--black);
}

.bg-white {
    background-color: var(--white);
}

.bg-main {
    background-color: var(--main);
    background: var(--main);
}

.bg-gray {
    background-color: var(--gray);
}

.bg-gray-2 {
    background-color: var(--gray-2);
}

.bg-gray-3 {
    background-color: var(--gray-3);
}

.bg-gray-txt {
    background-color: var(--gray-txt);
}

.bg-gray-2-txt {
    background-color: var(--gray-2-txt);
}

.c-black {
    color: var(--black);
}

.c-gray-2 {
    color: var(--gray-2-txt);
}

.c-main {
    color: var(--main-txt);
}

.c-over-main {
    color: var(--over-main);
}

.fit-content-master>* {
    width: fit-content;
}

.scroll {
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 10px;
    border-radius: 0;
}

.transy {
    transition: var(--transition) ease;
}

.slow-transy {
    transition: var(--slow-transition) ease;
}

.pointer {
    cursor: pointer;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}