@font-face {
    font-family: NotoKufiArabic;
    src: url(NotoKufiArabic.ttf);
}

* {
    font-family: NotoKufiArabic;
    box-sizing: border-box;
    font-size: 14px;
    color: var(--gray-txt);
    margin: 0;
    padding: 0;
    border-radius: 30px;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 2px;
}

::-webkit-scrollbar-thumb {
    width: 100%;
    background-color: var(--gray-3);
    border-radius: 2px;
}

body {
    user-select: none;
}

h1 {
    color: var(--black);
    font-size: 22px;
    font-weight: 500;
}

h2 {
    color: var(--black);
    font-size: 18px;
    font-weight: 500;
}

a {
    text-decoration: none;
}

input {
    border: none;
}

input:focus {
    outline: none;
}

button {
    border: none;
    cursor: pointer;
}

select {
    outline: none;
    border: none;
    padding: 5px 15px;
}

.fadeable {
    transition-property: padding;
    transition-duration: var(--transition);
    transition-timing-function: ease;
}

.fade-in {
    transition-duration: var(--slow-transition);
    transition-timing-function: ease;
    padding: 50px !important;
}

.fade-out {
    padding: 20px !important;
}

#mainPanel {
    width: 90vw;
    max-width: 900px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 32.5px));
}

#mainPanel>* {
    width: 100%;
}

#mainPanel>div:nth-child(2) {
    align-items: start;
    height: calc(80vh - 88px);
    min-height: 512px;
    max-height: 675px;
    padding: 30px;
}

#schedulesPanel.open {
    height: min(calc(185px + 45px * var(--courses) + 8px * (var(--courses) - 1) + 45px), calc(100% + 23px)) !important;
    background-color: var(--white) !important;
    background: var(--white) !important;
    box-shadow: var(--shadow) 0px -5px 15px 0px;
}

#generateButton {
    flex-grow: 2;
    position: relative;
    width: 100%;
    height: 65px;
}

#regenerateButton {
    display: none;
    background-color: transparent;
    flex-shrink: 0;
    margin-right: 1px;
    margin-bottom: 1px;
    width: 66px;
    height: 66px;
    margin-bottom: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 1px solid var(--over-main);
    border-bottom: 1px solid transparent;
    transition: background-color var(--transition) ease, border var(--slow-transition) ease;
}

#regenerateButton:hover {
    background-color: var(--tover-main);
}

#generateButton>svg {
    display: none;
}

#schedulesPanel.generated #generateButton svg {
    display: block;
}

#schedulesPanel.generated #regenerateButton {
    display: flex;
}

#schedulesPanel.open #generateButton svg {
    transform: rotate(0deg) !important;
    stroke: var(--black);
}

#schedulesPanel.open #regenerateButton {
    border-color: var(--gray-2);
    background-color: transparent;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 8px;
}

#schedulesPanel.open #regenerateButton:hover {
    background-color: var(--gray);
}

#schedulesPanel.open #regenerateButton svg {
    stroke: var(--black);
}

#schedulesPanel.generated #generateButton>div {
    transform: translateX(0) !important;
    right: 40px !important;
}

#schedulesPanel.open #generateButton>div>h1 {
    color: var(--black) !important;
}

#schedulesPanel.open #schedulesPanelContent {
    opacity: 100% !important;
}

.schedule {
    width: 100%;
    height: 100%;
}

header>div:first-child>a {
    height: 30px;
    padding: 0 15px;
}

header>div:first-child>a:hover {
    background-color: var(--tmain);
    background: var(--tmain);
    color: var(--main-txt);
    transition: var(--transition) ease;
}

header>div:first-child>a:hover>svg {
    stroke: var(--main-txt);
    transition: var(--transition) ease;
}

#settings-button {
    padding: 0 10px;
    border-radius: 15px;
    width: 100px;
    height: 30px;
}

#settings-button:hover {
    color: var(--black);
}

#settings-button:hover * {
    color: var(--black);
}

#theme-selector {
    padding: 0 10px;
    border-radius: 15px;
    width: 180px;
    position: absolute;
    left: 116px;
    top: 6px;
    overflow: hidden;
    z-index: 100;
}

body[theme='light ucas'] #theme-selector.opend,
body[theme='light yellow'] #theme-selector.opend,
body[theme='light green'] #theme-selector.opend,
body[theme='light blue'] #theme-selector.opend {
    background-color: var(--white);
    box-shadow: 0 2px 4px 3px var(--shadow);
}

#theme-selector:hover>div:first-child * {
    color: var(--black);
}

header .themes>div {
    padding: 5px 10px;
}

header .themes>div:hover {
    background-color: var(--gray);
    color: var(--black);
}

header .themes>div>div {
    width: 50px;
    height: 10px;
}

.unit {
    flex-shrink: 0;
    height: 45px;
    width: 100%;
    padding: 0 25px;
    color: var(--gray-2-txt);
}

.word-line {
    width: 90%;
    margin: 0 5%;
}

.word-line>span {
    margin: 0 10px;
}

.word-line>div {
    height: 1px;
    width: 50%;
}

.unwanted {
    color: var(--red);
    background-color: var(--tred) !important;
    border: 1px solid var(--red);
}

.unwanted>div {
    height: 14px;
    width: 14px;
    position: relative;
}

.unwanted>div>div {
    position: absolute;
    top: 0;
    width: 2px;
    height: 14px;
    background-color: var(--red);
    transform-origin: center;
}

.unwanted>div>div:first-child {
    transform: rotate(45deg);
}

.unwanted>div>div:last-child {
    transform: rotate(-45deg);
}

.slider {
    margin: 8px 9px 0;
    position: relative;
}

.slider>div:first-child>div {
    background-color: var(--gray-txt);
    margin: 0 1px;
    width: 1px;
    height: 15px;
}

.slider>div:first-child>div.coverd {
    background-color: var(--main);
    background: var(--main);
    margin: 0;
    width: 3px;
    height: 15px;
}

#best_time_slider>div:nth-child(2)>div {
    transform: translateX(-50%);
}

.slider>div:last-child {
    width: calc(var(--end) - var(--start));
    height: 3px;
    position: absolute;
    right: var(--start);
    top: -1px;
}

.slider>div:last-child>div:first-child {
    content: '';
    background-color: var(--main);
    background: var(--main);
    width: 17px;
    height: 17px;
    transform: translateX(50%);
    position: absolute;
    right: 0;
    top: -7px;
    border-radius: 40px;
    cursor: pointer;
}

.slider>div:last-child>div:last-child {
    content: '';
    background-color: var(--main);
    background: var(--main);
    width: 17px;
    height: 17px;
    transform: translateX(-50%);
    position: absolute;
    left: 0;
    top: -7px;
    border-radius: 40px;
    cursor: pointer;
}

.selected {
    color: var(--main-txt);
    background-color: var(--tmain) !important;
    background: var(--tmain) !important;
    border: 2px solid var(--main);
}

.selected>div {
    height: 16px;
    width: 16px;
    position: relative;
}

.selected>div>div {
    position: absolute;
    top: 0;
    width: 3px;
    background-color: var(--main-txt);
    transform-origin: bottom;
}

.selected>div>div:first-child {
    transform: rotate(45deg);
    height: 16px;
}

.selected>div>div:last-child {
    transform: translateY(100%) rotate(-45deg);
    height: 8px;
    margin-right: -1px;
}

.error {
    background-color: var(--tred) !important;
    color: var(--red) !important;
    border: 1px solid var(--red) !important;
}

.error::placeholder {
    color: var(--red) !important;
}

#errorMsg {
    width: fit-content;
    position: absolute;
    top: -100px;
    right: 50%;
    transform: translateX(50%);
}

/* icon button */
.i-btn {
    width: 30px;
    height: 30px;
    padding: 3px;
    border-radius: 8px;
    background-color: var(--gray);
}

.i-btn:hover {
    background-color: var(--tmain) !important;
    background: var(--tmain) !important;
    stroke: var(--main-txt) !important;
}

.dialog>div:last-child {
    opacity: 100%;
    padding: 30px;
    background-color: var(--white);
    box-shadow: 0 0 15px 3px var(--shadow);
    position: absolute;
    top: calc(50% + 39px);
    left: 50%;
    transform: translate(-50%, -50%);
}

.dialog.hidden {
    visibility: hidden;
}

.dialog.hidden>div:last-child {
    opacity: 0%;
}

#addCoursePanel>div:last-child {
    width: 600px;
    height: 600px;
}

#addCoursePanel.hidden>div:last-child {
    width: 575px;
    height: 575px;
}

#prefWeightPanel>div:last-child {
    width: 400px;
    height: 290px;
}

#prefWeightPanel.hidden>div:last-child {
    width: 375px;
    height: 265px;
}

#branches input {
    width: 70px;
    margin-right: 5px;
    color: var(--black);
    background-color: inherit !important;
    border: none !important;
}

.tab {
    background-color: var(--gray);
    width: 170px;
    margin-left: 10px;
}

.selected-tab {
    background-color: var(--white);
    width: 180px;
    border: 1px solid var(--gray-3);
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#branchDetails {
    width: 100%;
    height: 100%;
    border: 1px solid var(--gray-3);
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 25px;
}

#branchDetails select {
    width: 70px;
    border: none;
    text-align: center;
    border-radius: 0;
}