@font-face {
    font-family: NotoKufiArabic;
    src: url(NotoKufiArabic.ttf);
}

* {
    font-family: NotoKufiArabic;
    box-sizing: border-box;
    font-size: 14px;
    color: var(--gray-txt);
    margin: 0;
    padding: 0;
    border-radius: 40px;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 2px;
}

::-webkit-scrollbar-thumb {
    width: 100%;
    background-color: var(--gray-3);
    border-radius: 2px;
}

body {
    user-select: none;
}

h1 {
    color: var(--black);
    font-size: 22px;
    font-weight: 500;
}

h2 {
    color: var(--black);
    font-size: 18px;
    font-weight: 500;
}

a {
    text-decoration: none;
}

input {
    border: none;
}

input:focus {
    outline: none;
}

button {
    border: none;
    cursor: pointer;
}

.fadeable {
    transition-property: padding;
    transition-duration: var(--transition);
}

.fade-in {
    padding: 35px !important;
}

.fade-out {
    padding: 25px !important;
}

#mainPanel {
    display: flex;
    flex-direction: column;
    width: 50vw;
    min-width: 820px;
    max-width: 1081px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#mainPanel>* {
    width: 100%;
}

#mainPanel>div {
    height: 31.22vw;
    min-height: 512px;
    max-height: 675px;
    padding: 30px;
}

header>div:first-child>a {
    height: 30px;
    padding: 0 15px;
}

header>div:first-child>a:hover {
    background-color: var(--tmain);
    background: var(--tmain);
    color: var(--main-txt);
    transition: var(--transition);
}

header>div:first-child>a:hover>svg {
    stroke: var(--main-txt);
    transition: var(--transition);
}

header>div:last-child {
    padding: 0 10px;
    width: 180px;
    position: absolute;
    left: 0;
    top: 6px;
    border-radius: 15px;
    overflow: hidden;
    z-index: 100;
}

body[theme='light ucas'] header>div:last-child.opend,
body[theme='light yellow'] header>div:last-child.opend,
body[theme='light green'] header>div:last-child.opend,
body[theme='light blue'] header>div:last-child.opend {
    background-color: var(--white);
    box-shadow: 0 2px 4px 3px var(--shadow);
}

header>div:last-child:hover>div:first-child * {
    color: var(--black);
}

header .themes>div {
    padding: 5px 10px;
}

header .themes>div:hover {
    background-color: var(--gray);
    color: var(--black);
}

header .themes>div>div {
    width: 50px;
    height: 10px;
}

.unit {
    flex-shrink: 0;
    height: 45px;
    width: 100%;
    padding: 0 25px;
    color: var(--gray-2-txt);
}

.word-line {
    width: 90%;
    margin: 0 5%;
}

.word-line>span {
    margin: 0 10px;
}

.word-line>div {
    height: 1px;
    width: 50%;
}

.unwanted {
    color: var(--red);
    background-color: var(--tred) !important;
    border: 1px solid var(--red);
}

.unwanted>div {
    height: 14px;
    width: 14px;
    position: relative;
}

.unwanted>div>div {
    position: absolute;
    top: 0;
    width: 2px;
    height: 14px;
    background-color: var(--red);
    transform-origin: center;
}

.unwanted>div>div:first-child {
    transform: rotate(45deg);
}

.unwanted>div>div:last-child {
    transform: rotate(-45deg);
}

#time_slider {
    margin: 8px 9px 0;
    position: relative;
}

#time_slider>div:first-child>div {
    background-color: var(--gray-txt);
    margin: 0 1px;
    width: 1px;
    height: 15px;
}

#time_slider>div:first-child>div.coverd {
    background-color: var(--main);
    background: var(--main);
    margin: 0;
    width: 3px;
    height: 15px;
}

#time_slider>div:nth-child(2)>div {
    transform: translateX(-50%);
}

#time_slider>div:last-child {
    width: calc(var(--end) - var(--start));
    height: 3px;
    position: absolute;
    right: var(--start);
    top: -1px;
}

#time_slider>div:last-child>div:first-child {
    content: '';
    background-color: var(--main);
    background: var(--main);
    width: 17px;
    height: 17px;
    transform: translateX(50%);
    position: absolute;
    right: 0;
    top: -7px;
    border-radius: 40px;
    cursor: pointer;
}

#time_slider>div:last-child>div:last-child {
    content: '';
    background-color: var(--main);
    background: var(--main);
    width: 17px;
    height: 17px;
    transform: translateX(-50%);
    position: absolute;
    left: 0;
    top: -7px;
    border-radius: 40px;
    cursor: pointer;
}

.selected {
    color: var(--main-txt);
    background-color: var(--tmain) !important;
    background: var(--tmain) !important;
    border: 2px solid var(--main);
}

.selected>div {
    height: 16px;
    width: 16px;
    position: relative;
}

.selected>div>div {
    position: absolute;
    top: 0;
    width: 3px;
    background-color: var(--main-txt);
    transform-origin: bottom;
}

.selected>div>div:first-child {
    transform: rotate(45deg);
    height: 16px;
}

.selected>div>div:last-child {
    transform: translateY(100%) rotate(-45deg);
    height: 8px;
    margin-right: -1px;
}

.error {
    background-color: var(--tred) !important;
    color: var(--red) !important;
    border: 1px solid var(--red) !important;
}

.error::placeholder {
    color: var(--red) !important;
}

#errorMsg {
    width: fit-content;
    position: absolute;
    top: -100px;
    right: 50%;
    transform: translateX(50%);
}

/* icon button */
.i-btn {
    width: 30px;
    height: 30px;
    padding: 3px;
    border-radius: 8px;
}

.i-btn:hover {
    background-color: var(--tmain);
    background: var(--tmain);
    stroke: var(--main-txt);
}

#addCoursePanel>div:last-child {
    width: 600px;
    height: 600px;
    opacity: 100%;
    padding: 30px;
    background-color: var(--white);
    box-shadow: 0 0 15px 3px var(--shadow);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#addCoursePanel.hidden {
    visibility: hidden;
}

#addCoursePanel.hidden>div:last-child {
    width: 575px;
    height: 575px;
    opacity: 0%;
}

#branches input {
    width: 70px;
    margin-right: 5px;
    color: var(--black);
    background-color: inherit !important;
    border: none !important;
}

.tab {
    background-color: var(--gray);
    width: 170px;
    margin-left: 10px;
}

.selected-tab {
    background-color: var(--white);
    width: 180px;
    border: 1px solid var(--gray-3);
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#branchDetails {
    width: 100%;
    height: 100%;
    border: 1px solid var(--gray-3);
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 25px;
}

#branchDetails select {
    width: 70px;
    border: none;
    text-align: center;
    border-radius: 0;
}